@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
  html,
  body {
    padding: 0;
    margin: 0;
}

.green-txt{color:#54D1BB;}

.white-txt{color: white;}

.blue-txt{color:#2F4076;}

.yellow-txt{color:#F1C205;}

.purple-txt{color:#3D1E69;}

.grey-txt{color:#3E3B3B;}

header {
    background: linear-gradient(180deg, #2f4076 0%, rgba(47, 64, 118, 0.84) 100%);
    text-align: center;
    min-width: 380px;
}

.menu {
    margin: 0 100px 0;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 100px;
    object-fit: cover;
    margin: 10px;
}

.navbar-items a{
    color: #54D1BB;
}

.navbar-items {
    display: flex;
}

.logo {
    width: 100px;
    object-fit: cover;
    margin: 10px;
}

.link {
    margin: 5px;
    list-style: none;
    color: #54d1bb;
}

.link_h {
    color: #54d1bb;
}

.link_h:hover {
    color: white;
}

.middle_h{
    display: flex;
    padding-top: 10px;
    margin: 0 100px 0;
    justify-content: space-between;
}

.main-title{
    font-size: 3rem;
    color: white;
}

.woman_t {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
    border-radius: 50%;
}

.description {
    font-size: 1.2rem;
    padding-top: 10px;
    margin: 0 100px 0;
    padding-bottom: 20px;
    color: white;
}

.background_p {
    background: rgba(229, 229, 229, 0.71);
}

.contact {
    background: linear-gradient(180deg, #46beb2 0%, #3a7c95 100%);
    text-align: center;
    height: 15rem;
}

.heading-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    margin: 0 0 20px 0;
    text-align: center;
    padding: 20px;
}

.row_c {
    display: flex;
    justify-content: center;
}

.card {
    background-color: white;
    width: 16rem;
    height: 21rem;
    margin: 30px;
    justify-content: center;
    padding: 20px;
    justify-content: center;
    text-align: justify;
}

.card_t {
    font-weight: bold;
    font-size: 1rem;
}

.card_i {
    width: 100px;
    height: 140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-description,
.contact_description {
    font-size: 0.875rem;
}
/*.contact{
    background: linear-gradient(180deg, #46BEB2 0%, #3A7C95 100%);
    width: 1440px;
    height: 416px;
    left: 0px;
    top: 0px;
}
*/
footer {
    justify-content: center;
    background: rgba(62, 59, 59, 0.88);
    margin: 0;
    padding: 10px;
}

.icons_f {
    display: flex;
    justify-content: space-around;
}
.img_f {
    width: 40px;
    margin: 10px;
    object-fit: cover;
}

@media only screen and (max-width: 600px) {
    .sub-header {
        justify-content: center;
        margin: 0;
    }
    .middle-header {
        flex-direction: column-reverse;
        align-items: center;
    }
    .row-cards,
    .footer-icons {
        flex-direction: column;
        align-items: center;
    }
  }